/backend/node_modules
/backend/secret
/backend/database
/build
/node_modules
# /src/types/*.js
/backend_old/node_modules
/backend/target
.idea/discord.xml
/.idea/.gitignore
.idea/dataSources.xml
.idea/sqldialects.xml
.idea/runConfigurations/Client.xml
.idea/runConfigurations/TSC_Client.xml
.idea/dataSources.xml
.idea/*
