/backend
/build
/node_modules
.idea/discord.xml
/.idea/.gitignore
.idea/dataSources.xml
.idea/sqldialects.xml
.idea/runConfigurations/Client.xml
.idea/runConfigurations/TSC_Client.xml
.idea/*
/backend/
./package-lock.json
